<html lang="en">
  <head>
     <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This website uses matchbox.com and weatherstack.com to to get weather report for a city</p>
    <img  class= 'portrait' src="img/robot.png" alt="" />
    </div>

      {{>footer}}
  </body>
</html>